.nftSliderDiv {
    height: fit-content;
    margin: 0px auto;
    position: relative;
    overflow:hidden;
    white-space: nowrap;
}

.centerNFTBar {
    height: fit-content;
    width: 19%;
    background-color: white;

    display: inline-block;
    margin: 0 auto;

    border-radius: 25px;
    box-shadow: 0px 0px 20px #00000029;
    position: relative;
    margin: 20px 30px;
}

.NFTBarTop {
    height: 10%;
    line-height: 50px;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    position: relative;
}

.NFTBarTop > .collection {
    display: inline-block;
    font-size: 1.5vw;
    padding-top: 3px;
    padding-left: 12px;
}

.NFTBarTop > #detail {
    font-size: 0.8vw;
    float: right;
    padding-right: 12px;
    padding-top: 10px;
}

img {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
}

.NFTBarBottom > div {
    display: inline-block;
    text-align: left;
    margin: 0px 1vw;
    height: 70px;
}

.NFTBarBottom > .boughtInfo > #boughtTitle {
    font-size: 0.8vw;
}

.NFTBarBottom > .boughtInfo > #boughtPrice {
    font-size: 1.8vw;
}


.secondNFTBar {
    width: 17%;
    background-color: white;

    display: inline-block;
    margin: 0 auto;

    border-radius: 25px;
    box-shadow: 0px 0px 20px #00000029;
    position: relative;
    margin: 0px 30px;

    transform: translateY(-20px);
}

.secondNFTBar > .NFTBarTop > .collection {
    font-size: 1.3vw;
}

.secondNFTBar > .NFTBarTop > #detail {
    font-size: 0.7vw;
}

.secondNFTBar > .NFTBarBottom > div {
    display: inline-block;
    text-align: left;
    margin: 0px 0.7vw;
    height: 70px;
}

.secondNFTBar > .NFTBarBottom > .boughtInfo > #boughtPrice{
    font-size: 1.3vw;
}

/* SIDE BAR */
.sideNFTBar {
    width: 14%;
    background-color: white;

    display: inline-block;
    margin: 0 auto;

    border-radius: 25px;
    box-shadow: 0px 0px 20px #00000029;
    position: relative;
    margin: 0px 30px;

    transform: translateY(-45px);
}

.sideNFTBar > .NFTBarTop > .collection {
    font-size: 1vw;
}

.sideNFTBar > .NFTBarTop > #detail {
    font-size: 0.7vw;
}

.sideNFTBar > .NFTBarBottom > div {
    display: inline-block;
    text-align: left;
    margin: 0px 0.4vw;
    height: 70px;
}

.sideNFTBar > .NFTBarBottom > .boughtInfo > #boughtPrice {
    font-size: 1vw;
}

/* SLIDER */
.slider {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.24);
    top: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 110px;
    font-size: 50px;
    color: white;
    font-family: 'GmarketSansLight';
}

.slider:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);;
}

.slidLeft {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.slidRight {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.normal {
    box-shadow: 0px 0px 60px #4e4e4e4f;
}

#koreanPrice {
    font-size: 25px;
    font-family: 'GmarketSansLight';
}

@media screen and (max-width: 980px) {
    .centerNFTBar {
        width: 70%;
    }

    .secondNFTBar, .sideNFTBar {
        display: none;
    }
}


@media screen and (max-width: 499px) {
    .centerNFTBar {
        width: 90%;
    }
}