.nftSliderDiv {
    height: fit-content;
    margin: 20px auto;
    /* background-color: yellow; */
    position: relative;
}

.centerNFTBar {
    /* height: 500px; */
    height: fit-content;
    width: 19%;
    background-color: white;

    display: inline-block;
    margin: 0 auto;

    border-radius: 25px;
    box-shadow: 0px 0px 20px #00000029;
    position: relative;
}

.NFTBarTop {
    height: 10%;
    line-height: 50px;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    position: relative;
}

.NFTBarTop > #collection {
    display: inline-block;
    font-size: 1.5vw;
    padding-top: 3px;
    padding-left: 12px;
}

.NFTBarTop > #detail {
    font-size: 0.8vw;
    float: right;
    padding-right: 12px;
    padding-top: 10px;
}

.centerNFTBar > img {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
}

.centerNFTBar > .NFTBarBottom > div {
    display: inline-block;
    text-align: left;
    margin: 0px 1vw;
    height: 70px;
}

.centerNFTBar > .NFTBarBottom > .boughtInfo > #boughtTitle {
    font-size: 0.8vw;
}

.centerNFTBar > .NFTBarBottom > .boughtInfo > #boughtPrice {
    font-size: 1.8vw;
}

.klaytn {
    box-shadow: 0px 0px 60px #4F463B4f;
}

.yooshi {
    box-shadow: 0px 0px 60px #1D972F4f;
}

@media screen and (max-width: 980px) {
    .centerNFTBar {
        width: 70%;
 
    }
}


@media screen and (max-width: 499px) {
    .centerNFTBar {
        width: 90%;
    }
}