/* Webfont by GMarket Sans Mdeium */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.fontLight {
    font-family: 'GmarketSansLight';
}

* {
    margin: 0;
    padding: 0;
    font-family: 'GmarketSansMedium';
}

html, body {
    height: 100%;
}

html {
    overflow-x: hidden;
}

header {
    height: 100%;
    width: 100%;
}

.circle {
    border-radius: 50%;
    z-index: -1;  
}

#leftCircle {
    width: 40vw;
    height: 40vw;
    background-color: #ddf5c7;
    position: absolute;
    left: -233px;
    top: -116px;
}

#leftTopCircle {
    width: 70vw;
    height: 80%;
    background: #FF6D6D2B 0% 0% no-repeat padding-box;
    position: absolute;
    left: -35px;
    top: -552px;
}

#leftBottomCircle {
    width: 948px;
    height: 700px;
    background: #9674D22B 0% 0% no-repeat padding-box;
    position: absolute;
    top: 677px;
    left: -227px;
}

#rightCircle {
    width: 794px;
    height: 700px;
    background: #6DEBFF2B 0% 0% no-repeat padding-box;
    position: absolute;
    right: -251px;
    top: -368px;
}

#rightBottomCircle1 {
    width: 700px;
    height: 700px;
    background: #FF6DD82B 0% 0% no-repeat padding-box;
    position: absolute;
    right: -297px;
    top: 677px;
}

#rightBottomCircle2 {
    width: 700px;
    height: 700px;
    background: #F2FFE6 0% 0% no-repeat padding-box;
    position: absolute;
    right: 78px;
    bottom: -513px;
}


.headerMain {
    width: 100%;
    height: 100%;
    text-align: center;
}

.headerMain > .titleDiv {
    text-align: center;
    width: 100%;
    /* background-color: Yellow; */

    margin: 0 auto;
    padding-top: 2%;
}

#DoI {
    font-weight: 1000;
    font-size: 2vw;
    letter-spacing: 7px;
}

#ofGSK {
    font-size: 1.5vw;
    letter-spacing: 3px;
}

.priceDiv {
    width: 450px;
    height: 80px;
    margin: 20px auto;
    position: relative;
}

.priceDiv > #totalPriceTitle {
    font-size: 25px;
    color: #a0a0a0;
}

.priceDiv > #totlaPrice {
    font-size: 40px;
}

.selectDiv {
    width: 350px;
    height: 50px;
    margin: 20px auto;
    background-color: rgba(128, 128, 128, 0.7);
    border-radius: 40px;
    line-height: 57px;
}

.selectDiv > a {
    font-family: 'GmarketSansLight';
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin: 0px 15px;
    padding: 10px 10px 4px 10px;
    border-radius: 20px;

    text-decoration: none;
}

.selectDiv > a:hover, .selected{
    background-color: rgb(87, 87, 87);
    cursor: pointer;
}

.alignMiddle{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.loadTimeDiv > a {
    font-family: 'GmarketSansLight';
    font-size: 20px;
}


/* HEADER - STOCK BOARD */
.stockBoard {
    width: 360px;
    height: 440px;
    padding: 20px;

    position: absolute;

    background: #00000014 0% 0% no-repeat padding-box;
    backdrop-filter: blur(25px);
    right: 30px;
    bottom: 30px;
    border-radius: 30px;
}

.stock > #stockName {
    font-size: 40px;
}

.stock > #stockCount {
    font-size: 25px;
}

.stock > .priceInner {
    margin-left: 20px;
    margin-top: 10px;
    color: #575757;
}

.priceInner > a {
    display: block;
}

#stockBoardTitle {
    font-size: 25px;
    margin-top: 15px;
}

#stockBoardPrice {
    font-size: 40px;
}

.stockBoardBottom {
    background-color: white;
    position: absolute;
    height: 50px;
    width: 140px;
    bottom: 20px;
    right: 20px;
    border-radius: 30px;
    text-align: center;
}

.stockBoardBottom > div {
    display: inline-block;
    padding: 5px;
    width: 30px;
    height: 30px;
    margin-top: 5px;

    border-radius: 50%;
}

.stockBoardBottom > div:first-child {
    margin-right: 20px;
}

.stockBoardBottom > div:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.253);
}

/* MAIN */
main {
    /* height: 300%; */
    /* margin-bottom: 200px; */
    background-color: white;
    padding-bottom: 50px;
}

.topBar {
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0px 10px 20px #00000029;
}

.topBar > #mainTitle {
    font-size: 40px;
    line-height: 100px;
    margin-left: 30px;
}

.topBar > #subTitle {
    margin-left: 5px;
    font-size: 20px;
}

.topBar > #partTitle {
    position: absolute;
    right: 30px;
    font-size: 50px;
    line-height: 110px;
}

.article {
    width: 60%;
    margin: 100px auto;
    border-radius: 40px;
}

.article > .title {
    display: inline-block;
    font-size: 2.5vw;
    margin-top: 20px;
    margin-left: 30px;
}

.article > .dateAndStock {
    font-size: 1.2vw;
    display: inline-block;
    margin-left: 30px;
}

.article > hr {
    width: 96%;
    margin: 10px auto;
}

.article > .articleText {
    display: inline-block;
    margin: 20px 40px;
    margin-bottom: 40px;
    text-align: justify;
    font-size: 20px;
    font-weight: 450;
}

.article > img {
    width: 50%;
    margin-left: 25%;
}

.alphabet {
    box-shadow: 0px 0px 60px #ff6d6d4f;
}

.kakaogames {
    box-shadow: 0px 0px 60px #fee1024f;
}

footer {
    /* background-color: black; */
    height: 120px;
    border-top: 1px solid rgb(168, 168, 168);
    padding: 40px;
}

@media screen and (max-width: 1299px) {
    .article {
        width: 90%;
    }

    .topBar > #mainTitle, .topBar > #partTitle {
        font-size: 4vw;
    }

    .article > .title {
        font-size: 3vw;
    }
    
    .article > .dateAndStock {
        font-size: 2vw;
    }
}

@media screen and (max-width: 1000px) {
    .circle {
        display: none;
    }

    .article {
        width: 85%;
    }

    main > .topBar > #subTitle {
        display: none;
    }
}

@media screen and (max-width: 599px) {
    .selectDiv {
        width: 90%;
    }

    .priceDiv {
        width: 90%;
    }

    .loadTimeDiv > a {
        font-size: 4vw;
    }

    .article > .articleText {
        font-size: 15px;
    }

    .article > .title {
        font-size: 5vw;
    }
    
    .article > .dateAndStock {
        font-size: 3vw;
    }

    #DoI {
        display: inline-block;
        margin-top: 20px;
        font-size: 5vw;
        letter-spacing: 3px;
    }

    #ofGSK {
        font-size: 3vw;
        letter-spacing: 3px;
    }
}